# Entrega 2 - Ciência de dados

# Preparação dos dados

**Selecionar os dados**

In [10]:
import pandas as pd

dfCupons = pd.read_csv("https://raw.githubusercontent.com/2025-2-NCC4/Projeto11/refs/heads/main/documentos/Entrega%201/Projeto%20Interdisciplinar%20-%20Ci%C3%AAncia%20de%20dados/Base%20de%20Dados/PicMoney-Base_de_Transa__es_-_Cupons_Capturados-100000%20linhas%20(1).csv", sep=";")
dfBaseCadastral = pd.read_csv("https://raw.githubusercontent.com/2025-2-NCC4/Projeto11/refs/heads/main/documentos/Entrega%201/Projeto%20Interdisciplinar%20-%20Ci%C3%AAncia%20de%20dados/Base%20de%20Dados/PicMoney-Base_Cadastral_de_Players-10_000%20linhas%20(1).csv", sep=";")
dfBasePedestres = pd.read_csv("https://raw.githubusercontent.com/2025-2-NCC4/Projeto11/refs/heads/main/documentos/Entrega%201/Projeto%20Interdisciplinar%20-%20Ci%C3%AAncia%20de%20dados/Base%20de%20Dados/PicMoney-Base_Simulada_-_Pedestres_Av__Paulista-100000%20linhas%20(1).csv", sep=";")
dfMassaTeste = pd.read_csv("https://raw.githubusercontent.com/2025-2-NCC4/Projeto11/refs/heads/main/documentos/Entrega%201/Projeto%20Interdisciplinar%20-%20Ci%C3%AAncia%20de%20dados/Base%20de%20Dados/PicMoney-Massa_de_Teste_com_Lojas_e_Valores-10000%20linhas%20(1).csv", sep=";")

# Formatar dados

In [11]:
#Formata as colunas hora e data usando o datetime
dfCupons['hora'] = pd.to_datetime(dfCupons['hora'], format='%H:%M:%S')
dfCupons['data'] = pd.to_datetime(dfCupons['data'], format='%d/%m/%Y', dayfirst=True)
#Definir a hora do dia
dfCupons['hora_dia'] = pd.to_datetime(dfCupons['hora']).dt.hour
#Convertendo a coluna data para datetime
dfMassaTeste['data_captura'] = pd.to_datetime(dfMassaTeste['data_captura'], format='%d/%m/%Y', dayfirst=True)
#Convertendo a coluna data para datetime
dfBasePedestres['data'] = pd.to_datetime(dfBasePedestres['data'], format='%d/%m/%Y', dayfirst=True)
dfBasePedestres['horario'] = pd.to_datetime(dfBasePedestres['horario'], format='%H:%M:%S')
dfBaseCadastral['data_nascimento'] = pd.to_datetime(dfBaseCadastral['data_nascimento'], format='%d/%m/%Y', dayfirst=True)

# Base de Transações - Cupons Capturados

**Selecionar os dados**

In [12]:
dfCupons['produto'].value_counts().head(10)
#Os produtos presentes na coluna produto, são trechos do lorem ipsum
#Remove a coluna produto
dfCupons.drop(columns='produto')

,celular,data,hora,nome_estabelecimento,bairro_estabelecimento,categoria_estabelecimento,id_campanha,id_cupom,tipo_cupom,valor_cupom,repasse_picmoney,hora_dia
0,(61) 96497-8673,2025-07-10,1900-01-01 16:15:00,Habib's,República,Lojas de Eletrônicos e Games,CAM2768,CUP542835,Cashback,229.64,11.48,16
1,(11) 94231-6424,2025-07-15,1900-01-01 08:15:00,Smart Fit,Vila Prudente,Lojas de Eletrônicos e Games,CAM6679,CUP291620,Cashback,356.33,17.82,8
2,(11) 97965-2178,2025-07-20,1900-01-01 16:45:00,Outback,Tucuruvi,Igrejas e Lojas de Artigos Religiosos,CAM6473,CUP670811,Produto,719.06,27.61,16
3,(11) 93418-4646,2025-07-20,1900-01-01 15:45:00,Subway,Penha,Fisioterapia e Terapias Complementares,CAM8293,CUP590364,Produto,798.34,25.85,15
4,(11) 97973-1725,2025-07-07,1900-01-01 11:00:00,Octavio Café,Santo Amaro,Clínicas Médicas e Laboratórios,CAM5588,CUP528033,Produto,718.45,28.85,11
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,(21) 95319-5062,2025-07-27,1900-01-01 09:00:00,Droga Raia,Penha,Farmácias e Drogarias,CAM1614,CUP400268,Desconto,863.65,310.22,9
99996,(11) 92043-7072,2025-07-05,1900-01-01 06:45:00,Clube Pinheiros,Ipiranga,Clínicas Médicas e Laboratórios,CAM7293,CUP137216,Desconto,251.03,64.32,6
99997,(11) 96610-1439,2025-07-06,1900-01-01 15:45:00,Outback,Vila Prudente,Lojas de Eletrônicos e Games,CAM3065,CUP551535,Cashback,160.48,8.02,15
99998,(11) 92639-5993,2025-07-02,1900-01-01 18:45:00,Açaí no Ponto,Jabaquara,"Bancos, Agências e Correspondentes",CAM3552,CUP390792,Desconto,665.09,124.46,18
99999,(21) 96285-4072,2025-07-03,1900-01-01 11:15:00,Lavoisier,Pinheiros,Clínicas Médicas e Laboratórios,CAM9409,CUP411682,Cashback,226.14,11.31,11

**Limpeza/Uniformização dos dados**

In [13]:
#Aplicamos os scripts que já havíamos desenvolvido na entrega anterior para a realizar a limpeza
# Categoriza as lojas corretamente
farmacias = ('Drogasil', 'Drogaria São Paulo', 'Droga Raia')
clinicasMed = ('Sabin', 'Lavoisier', 'Fleury')
roupasCal = ('Renner', 'Forever 21', 'Riachuelo')
restaurantes = ('Ráscal', 'Churrascaria Boi Preto', 'Madero', 'Outback')
academias = ('Smart Fit', 'Selfit')
cultural = ('Sesc Carmo', 'Sesc Paulista')
supermercado = ('Extra', 'Pão de Açúcar', 'Carrefour Express')
clubes = ('Clube Pinheiros',)
modaAlt = ('Just Run',)
cafeterias = ('Octavio Café', 'Café Cultura', 'Starbucks')
fastfood = ('Açaí no Ponto', "McDonald's", "Habib's", 'Subway', 'Burger King')
movelDeco = ('Casas Bahia', 'Magazine Luiza', 'Ponto')

for category, category_name in [
    (farmacias, 'Farmácias e Drogarias'),
    (clinicasMed, 'Clínicas Médicas e Laboratórios'),
    (roupasCal, 'Lojas de Roupas e Calçados'),
    (restaurantes, 'Restaurantes e Gastronomia'),
    (academias, 'Academias e Studios Fitness'),
    (cultural, 'Espaços Culturais e de Experiência Interativa'),
    (supermercado, 'Supermercados e Mercados Express'),
    (clubes, 'Clubes e Centros de Convivência'),
    (modaAlt, 'Lojas de Moda Urbana e Alternativa'),
    (cafeterias, 'Cafeterias e Bistrôs Modernos'),
    (fastfood, 'Lanchonetes e Fast-Food'),
    (movelDeco, 'Lojas de Eletrodomésticos e Utilidades Domésticas')
]:
    for estabelecimento in category:
        dfCupons.loc[dfCupons['nome_estabelecimento'] == estabelecimento, 'categoria_estabelecimento'] = category_name

dfCupons['categoria_estabelecimento'].value_counts()

categoria_estabelecimento
Lanchonetes e Fast-Food                              13338
Farmácias e Drogarias                                12957
Restaurantes e Gastronomia                           11566
Clínicas Médicas e Laboratórios                       9496
Lojas de Roupas e Calçados                            9442
Cafeterias e Bistrôs Modernos                         9371
Supermercados e Mercados Express                      9252
Academias e Studios Fitness                           6255
Espaços Culturais e de Experiência Interativa         6232
Lojas de Eletrodomésticos e Utilidades Domésticas     5937
Clubes e Centros de Convivência                       3084
Lojas de Moda Urbana e Alternativa                    3070
Name: count, dtype: int64

**Derivar dados**

In [14]:
# Função para determinar o período do dia
def definir_periodo(hora):
    if 5 <= hora.hour < 12:
        return 'manhã'
    elif 12 <= hora.hour < 18:
        return 'tarde'
    else:
        return 'noite'

# Criando a nova coluna 'periodo'
dfCupons['periodo'] = dfCupons['hora'].apply(definir_periodo)

dfCupons.head(10)

,celular,data,hora,nome_estabelecimento,bairro_estabelecimento,categoria_estabelecimento,id_campanha,id_cupom,tipo_cupom,produto,valor_cupom,repasse_picmoney,hora_dia,periodo
0,(61) 96497-8673,2025-07-10,1900-01-01 16:15:00,Habib's,República,Lanchonetes e Fast-Food,CAM2768,CUP542835,Cashback,NaN,229.64,11.48,16,tarde
1,(11) 94231-6424,2025-07-15,1900-01-01 08:15:00,Smart Fit,Vila Prudente,Academias e Studios Fitness,CAM6679,CUP291620,Cashback,NaN,356.33,17.82,8,manhã
2,(11) 97965-2178,2025-07-20,1900-01-01 16:45:00,Outback,Tucuruvi,Restaurantes e Gastronomia,CAM6473,CUP670811,Produto,Tempora,719.06,27.61,16,tarde
3,(11) 93418-4646,2025-07-20,1900-01-01 15:45:00,Subway,Penha,Lanchonetes e Fast-Food,CAM8293,CUP590364,Produto,Magnam,798.34,25.85,15,tarde
4,(11) 97973-1725,2025-07-07,1900-01-01 11:00:00,Octavio Café,Santo Amaro,Cafeterias e Bistrôs Modernos,CAM5588,CUP528033,Produto,Quam,718.45,28.85,11,manhã
5,(61) 99274-7566,2025-07-16,1900-01-01 09:30:00,Madero,Pinheiros,Restaurantes e Gastronomia,CAM6861,CUP623764,Produto,Eligendi,130.70,2.14,9,manhã
6,(11) 99900-5956,2025-07-17,1900-01-01 08:45:00,Forever 21,Tatuapé,Lojas de Roupas e Calçados,CAM7963,CUP142621,Produto,Excepturi,446.41,5.28,8,manhã
7,(11) 91616-7851,2025-07-18,1900-01-01 12:15:00,Habib's,Bela Vista,Lanchonetes e Fast-Food,CAM1919,CUP826298,Desconto,NaN,736.05,130.77,12,tarde
8,(11) 98465-2190,2025-07-29,1900-01-01 19:45:00,Sabin,Limão,Clínicas Médicas e Laboratórios,CAM5622,CUP530335,Cashback,NaN,374.01,18.70,19,noite
9,(11) 93936-9224,2025-07-23,1900-01-01 14:30:00,Lavoisier,Lapa,Clínicas Médicas e Laboratórios,CAM3099,CUP977626,Produto,Delectus,370.51,14.55,14,tarde

In [15]:
# Criando a nova coluna com o nome do dia da semana
dfCupons['dia_semana'] = dfCupons['data'].dt.day_name()

#Tradução do inglês para o português
dias_semana_pt = {
    'Monday': 'Segunda-feira',
    'Tuesday': 'Terça-feira',
    'Wednesday': 'Quarta-feira',
    'Thursday': 'Quinta-feira',
    'Friday': 'Sexta-feira',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}

# Aplicando a tradução para a nova coluna
dfCupons['dia_semana'] = dfCupons['dia_semana'].map(dias_semana_pt)
print(dfCupons)

               celular       data                hora nome_estabelecimento  \
0      (61) 96497-8673 2025-07-10 1900-01-01 16:15:00              Habib's
1      (11) 94231-6424 2025-07-15 1900-01-01 08:15:00            Smart Fit
2      (11) 97965-2178 2025-07-20 1900-01-01 16:45:00              Outback
3      (11) 93418-4646 2025-07-20 1900-01-01 15:45:00               Subway
4      (11) 97973-1725 2025-07-07 1900-01-01 11:00:00         Octavio Café
...                ...        ...                 ...                  ...
99995  (21) 95319-5062 2025-07-27 1900-01-01 09:00:00           Droga Raia
99996  (11) 92043-7072 2025-07-05 1900-01-01 06:45:00      Clube Pinheiros
99997  (11) 96610-1439 2025-07-06 1900-01-01 15:45:00              Outback
99998  (11) 92639-5993 2025-07-02 1900-01-01 18:45:00        Açaí no Ponto
99999  (21) 96285-4072 2025-07-03 1900-01-01 11:15:00            Lavoisier

      bairro_estabelecimento        categoria_estabelecimento id_campanha  \
0                  República          Lanchonetes e Fast-Food     CAM2768
1              Vila Prudente      Academias e Studios Fitness     CAM6679
2                   Tucuruvi       Restaurantes e Gastronomia     CAM6473
3                      Penha          Lanchonetes e Fast-Food     CAM8293
4                Santo Amaro    Cafeterias e Bistrôs Modernos     CAM5588
...                      ...                              ...         ...
99995                  Penha            Farmácias e Drogarias     CAM1614
99996               Ipiranga  Clubes e Centros de Convivência     CAM7293
99997          Vila Prudente       Restaurantes e Gastronomia     CAM3065
99998              Jabaquara          Lanchonetes e Fast-Food     CAM3552
99999              Pinheiros  Clínicas Médicas e Laboratórios     CAM9409

        id_cupom tipo_cupom  produto  valor_cupom  repasse_picmoney  hora_dia  \
0      CUP542835   Cashback      NaN       229.64             11.48        16
1      CUP291620   Cashback      NaN       356.33             17.82         8
2      CUP670811    Produto  Tempora       719.06             27.61        16
3      CUP590364    Produto   Magnam       798.34             25.85        15
4      CUP528033    Produto     Quam       718.45             28.85        11
...          ...        ...      ...          ...               ...       ...
99995  CUP400268   Desconto      NaN       863.65            310.22         9
99996  CUP137216   Desconto      NaN       251.03             64.32         6
99997  CUP551535   Cashback      NaN       160.48              8.02        15
99998  CUP390792   Desconto      NaN       665.09            124.46        18
99999  CUP411682   Cashback      NaN       226.14             11.31        11

      periodo     dia_semana
0       tarde   Quinta-feira
1       manhã    Terça-feira
2       tarde        Domingo
3       tarde        Domingo
4       manhã  Segunda-feira
...       ...            ...
99995   manhã        Domingo
99996   manhã         Sábado
99997   tarde        Domingo
99998   noite   Quarta-feira
99999   manhã   Quinta-feira

[100000 rows x 15 columns]

# Massa Teste com loja e valores

**Limpeza/Uniformização dos dados**

In [16]:
#Organizando as lojas em suas categorias corretas
categories = [
    ('vestuário', 'Havaianas', 'Riachuelo', 'Renner', 'Lojas Americanas'),
    ('outros', 'Livraria Cultura', 'Smart Fit'),
    ('mercado express', 'Pão de Açúcar', 'Extra Mercado'),
    ('farmácia', 'Drogaria São Paulo'),
    ('eletrodoméstico', 'Ponto Frio', 'Kalunga'),
    ('móveis', 'Daiso Japan', 'Fast Shop'),
    ('restaurante', 'Outback', 'Subway')
]

for category_name, *stores in categories:
    for store in stores:
        dfMassaTeste.loc[dfMassaTeste['nome_loja'] == store, 'tipo_loja'] = category_name
dfMassaTeste['tipo_loja'].value_counts()

tipo_loja
vestuário          2683
eletrodoméstico    1381
mercado express    1359
móveis             1330
outros             1302
restaurante        1262
farmácia            683
Name: count, dtype: int64

In [17]:
#Função para converter a latiude e longitude em formatos validos
def reconstruct_lat(value):
    val_str = str(value)

    # Remove os pontos e troca a virgula por um ponto
    val_str = val_str.replace(".", "").replace(",", ".")

    try:
        num = float(val_str)

        # Divide por dez até chegar no range de latitude/longitude valido
        while abs(num) > 90:
            num /= 10

        return num
    except:
        return None

In [18]:
#Utiliza a função acima para realizar a conversão e criar novas colunas
dfMassaTeste["latitude_limpa"] = dfMassaTeste["latitude"].apply(reconstruct_lat)
dfMassaTeste["longitude_limpa"] = dfMassaTeste["longitude"].apply(reconstruct_lat)

print(dfMassaTeste[["latitude", "latitude_limpa", "longitude_limpa"]].head(20))

                   latitude  latitude_limpa  longitude_limpa
0   -23.563.850.985.754.000      -23.563851       -46.650041
1    -2.356.380.569.343.850      -23.563806       -46.649543
2   -23.563.227.246.012.400      -23.563227       -46.652373
3    -2.356.152.623.615.530      -23.561526       -46.653770
4    -2.357.068.984.231.570      -23.570690       -46.645488
5   -23.562.139.025.307.800      -23.562139       -46.654140
6    -2.356.308.441.131.850      -23.563084       -46.652877
7   -23.564.517.475.349.700      -23.564517       -46.650169
8   -23.561.717.849.336.000      -23.561718       -46.655787
9   -23.562.272.407.222.600      -23.562272       -46.654424
10  -23.563.560.305.369.300      -23.563560       -46.650068
11  -23.563.991.741.538.500      -23.563992       -46.657426
12  -23.555.934.314.817.300      -23.555934       -46.661585
13  -23.556.116.298.073.200      -23.556116       -46.661505
14  -23.555.951.191.606.900      -23.555951       -46.661706
15   -2.356.419.251.198.360      -23.564193       -46.656443
16  -23.561.418.049.167.400      -23.561418       -46.656198
17   -2.356.291.023.652.630      -23.562910       -46.652669
18     -235.630.943.409.215      -23.563094       -46.652891
19   -2.356.439.845.581.460      -23.564398       -46.649941

In [19]:
#Endereços na coluna endereco_loja não correspondem com o endereço das coordenadas
dfMassaTeste[["latitude_limpa", "longitude_limpa",'endereco_loja']]

,latitude_limpa,longitude_limpa,endereco_loja
0,-23.563851,-46.650041,"Rua Pamplona, 1704"
1,-23.563806,-46.649543,"Rua Pamplona, 1704"
2,-23.563227,-46.652373,"Rua Augusta, 2220"
3,-23.561526,-46.653770,"Shopping Pátio Paulista, Rua Treze de Maio, 1947"
4,-23.570690,-46.645488,"Av. Paulista, 2006"
...,...,...,...
9995,-23.561630,-46.654141,"Shopping Cidade São Paulo, Av. Paulista, 1230"
9996,-23.562890,-46.652032,"Rua Augusta, 2220"
9997,-23.561714,-46.653884,"Av. Paulista, 2230"
9998,-23.563587,-46.649886,"Rua Augusta, 2220"
9999,-23.562643,-46.652789,"Av. Paulista, 2439"

**Derivar os dados**

In [20]:
# Criando a nova coluna com o nome do dia da semana
dfMassaTeste['dia_semana'] = dfMassaTeste['data_captura'].dt.day_name()

# Aplicando a tradução para a nova coluna
dfMassaTeste['dia_semana'] = dfMassaTeste['dia_semana'].map(dias_semana_pt)
print(dfMassaTeste)

       numero_celular data_captura tipo_cupom        tipo_loja  \
0     (41) 96047-8110   2025-07-05    Produto  mercado express
1     (11) 94020-8306   2025-07-12   Desconto  mercado express
2     (11) 92863-4530   2025-07-19    Produto  eletrodoméstico
3     (11) 94282-1224   2025-07-19    Produto           móveis
4     (11) 91506-1278   2025-07-05    Produto           outros
...               ...          ...        ...              ...
9995  (11) 91817-1529   2025-07-05   Desconto           móveis
9996  (11) 98083-6286   2025-07-06    Produto  eletrodoméstico
9997  (11) 95690-4664   2025-07-27   Desconto        vestuário
9998  (11) 96666-5299   2025-07-30   Desconto  eletrodoméstico
9999  (11) 92778-7032   2025-07-13    Produto        vestuário

                  local_captura                 latitude  \
0             Calçada aleatória  -23.563.850.985.754.000
1             Calçada aleatória   -2.356.380.569.343.850
2     Shopping Cidade São Paulo  -23.563.227.246.012.400
3                      Semáforo   -2.356.152.623.615.530
4       Shopping Pátio Paulista   -2.357.068.984.231.570
...                         ...                      ...
9995                   Semáforo  -23.561.630.139.962.500
9996  Shopping Cidade São Paulo  -23.562.890.348.354.100
9997                   Semáforo  -23.561.714.222.847.600
9998          Calçada aleatória  -23.563.586.790.026.300
9999  Shopping Cidade São Paulo  -23.562.642.941.081.100

                    longitude      nome_loja  \
0      -4.665.004.147.929.030  Pão de Açúcar
1      -4.664.954.309.104.300  Pão de Açúcar
2      -4.665.237.324.108.700        Kalunga
3      -4.665.376.976.958.120    Daiso Japan
4     -46.645.488.231.986.900      Smart Fit
...                       ...            ...
9995   -4.665.414.059.815.280      Fast Shop
9996   -4.665.203.225.250.330        Kalunga
9997     -466.538.836.517.974         Renner
9998   -4.664.988.649.380.910        Kalunga
9999   -4.665.278.897.594.090      Havaianas

                                         endereco_loja  valor_compra  \
0                                   Rua Pamplona, 1704        834.43
1                                   Rua Pamplona, 1704        884.21
2                                    Rua Augusta, 2220        903.79
3     Shopping Pátio Paulista, Rua Treze de Maio, 1947        792.39
4                                   Av. Paulista, 2006        146.92
...                                                ...           ...
9995     Shopping Cidade São Paulo, Av. Paulista, 1230        381.29
9996                                 Rua Augusta, 2220        662.73
9997                                Av. Paulista, 2230        902.17
9998                                 Rua Augusta, 2220        342.22
9999                                Av. Paulista, 2439        979.00

      valor_cupom  latitude_limpa  longitude_limpa    dia_semana
0           28.21      -23.563851       -46.650041        Sábado
1          398.81      -23.563806       -46.649543        Sábado
2           48.43      -23.563227       -46.652373        Sábado
3           10.82      -23.561526       -46.653770        Sábado
4            8.34      -23.570690       -46.645488        Sábado
...           ...             ...              ...           ...
9995        81.69      -23.561630       -46.654141        Sábado
9996        10.97      -23.562890       -46.652032       Domingo
9997       131.38      -23.561714       -46.653884       Domingo
9998        71.37      -23.563587       -46.649886  Quarta-feira
9999        43.06      -23.562643       -46.652789       Domingo

[10000 rows x 14 columns]

In [21]:
# import requests
# import pandas as pd
#
# # Definindo o cabeçalho e URL da API
# url = "https://www.cepaberto.com/api/v3/nearest"
# headers = {'Authorization': 'Token token=4291e98ece5f7ab9bc8a30fbae8fe1ef'}
#
# # Função para obter o endereço baseado na latitude e longitude
# def obter_endereco(latitude, longitude):
#     params = {'lat': latitude, 'lng': longitude}
#     response = requests.get(url, headers=headers, params=params)
#
#     if response.status_code == 200:
#         dados = response.json()
#         cidade = dados.get('cidade', {}).get('nome', 'Desconhecida')
#         estado = dados.get('estado', {}).get('sigla', 'Desconhecido')
#         cep = dados.get('cep', 'CEP não encontrado')
#         endereco_completo = f"{cidade} - {estado} - {cep}"
#         return endereco_completo
#     else:
#         print(f"Erro na API: {response.status_code}")
#         return "Erro ao obter endereço"
#
# # Aplicando a função para preencher o endereço
# dfMassaTeste['endereco_loja'] = dfMassaTeste.apply(
#     lambda row: obter_endereco(row['latitude_limpa'], row['longitude_limpa']), axis=1
# )
#
# # Exibindo o DataFrame com os endereços preenchidos
# print(dfMassaTeste)

# Base Simulada - Pedestres Av. Paulista

**Limpeza/Uniformização dos dados**

In [22]:
#Convertendo as coordenadas para o formato valido utilizando a função criada anteriormente
dfBasePedestres["latitude_limpa"] = dfBasePedestres["latitude"].apply(reconstruct_lat)
dfBasePedestres["longitude_limpa"] = dfBasePedestres["longitude"].apply(reconstruct_lat)

print(dfBasePedestres[["latitude", "latitude_limpa", "longitude_limpa"]].head(20))

                   latitude  latitude_limpa  longitude_limpa
0   -23.567.430.342.750.400      -23.567430       -46.648443
1   -23.558.687.303.969.100      -23.558687       -46.658884
2   -23.570.847.016.535.100      -23.570847       -46.645782
3    -2.355.617.081.756.250      -23.556171       -46.661306
4    -2.356.254.630.989.870      -23.562546       -46.649567
5   -23.570.388.410.014.600      -23.570388       -46.645561
6   -23.561.531.245.538.800      -23.561531       -46.656090
7    -2.356.305.240.568.520      -23.563052       -46.652317
8   -23.564.332.854.063.000      -23.564333       -46.656973
9    -2.355.769.174.074.580      -23.557692       -46.659636
10  -23.558.057.344.416.300      -23.558057       -46.658959
11   -2.356.747.021.144.070      -23.567470       -46.648567
12   -2.356.425.189.706.960      -23.564252       -46.656395
13   -2.356.369.028.472.120      -23.563690       -46.656849
14  -23.558.516.567.675.600      -23.558517       -46.659090
15  -23.557.584.047.814.900      -23.557584       -46.659763
16   -2.356.276.239.230.900      -23.562762       -46.649907
17  -23.567.354.352.378.500      -23.567354       -46.648528
18  -23.563.886.386.434.600      -23.563886       -46.656640
19   -2.355.552.757.401.570      -23.555528       -46.661922

In [23]:
#Padronizando os dados da tabela Base Pedestres com os dados da tabela de base cadastral
dfBasePedestres.loc[dfBasePedestres['ultimo_tipo_loja'] == 'restaurante', 'ultimo_tipo_loja'] = 'Restaurantes e Gastronomia'
dfBasePedestres.loc[dfBasePedestres['ultimo_tipo_loja'] == 'mercado express', 'ultimo_tipo_loja'] = 'Supermercados e Mercados Express'
dfBasePedestres.loc[dfBasePedestres['ultimo_tipo_loja'] == 'farmácia', 'ultimo_tipo_loja'] = 'Farmácias e Drogarias'
dfBasePedestres.loc[dfBasePedestres['ultimo_tipo_loja'] == 'esportivo', 'ultimo_tipo_loja'] = 'Clubes e Centros de Convivência'
dfBasePedestres.loc[dfBasePedestres['ultimo_tipo_loja'] == 'móveis', 'ultimo_tipo_loja'] = 'Lojas de Móveis e Decoração'
dfBasePedestres.loc[dfBasePedestres['ultimo_tipo_loja'] == 'vestuário', 'ultimo_tipo_loja'] = 'Lojas de Roupas e Calçados'
dfBasePedestres.loc[dfBasePedestres['ultimo_tipo_loja'] == 'eletrodoméstico', 'ultimo_tipo_loja'] = 'Lojas de Eletrodomésticos e Utilidades Domésticas'

**Derivar dados**

In [24]:
# Criando a nova coluna com o nome do dia da semana
dfBasePedestres['dia_semana'] = dfBasePedestres['data'].dt.day_name()

# Aplicando a tradução para a nova coluna
dfBasePedestres['dia_semana'] = dfBasePedestres['dia_semana'].map(dias_semana_pt)
print(dfBasePedestres)

               celular       data             horario  \
0      (11) 98549-4373 2025-07-22 1900-01-01 07:30:00
1      (11) 91137-2716 2025-07-22 1900-01-01 12:45:00
2      (11) 99552-6219 2025-07-22 1900-01-01 06:30:00
3      (11) 94777-4030 2025-07-22 1900-01-01 19:00:00
4      (21) 91994-3239 2025-07-22 1900-01-01 13:00:00
...                ...        ...                 ...
99995  (11) 94357-4894 2025-07-22 1900-01-01 20:15:00
99996  (11) 99522-3809 2025-07-22 1900-01-01 18:15:00
99997  (11) 95352-7193 2025-07-22 1900-01-01 18:00:00
99998  (11) 95249-7640 2025-07-22 1900-01-01 15:15:00
99999  (11) 94264-9572 2025-07-22 1900-01-01 12:00:00

                           local                 latitude  \
0       Ponto de Ônibus Pamplona  -23.567.430.342.750.400
1        Ponto de Ônibus Augusta  -23.558.687.303.969.100
2        Shopping Pátio Paulista  -23.570.847.016.535.100
3               Metrô Consolação   -2.355.617.081.756.250
4             Esquina Rua da Paz   -2.356.254.630.989.870
...                          ...                      ...
99995                       MASP  -23.561.653.835.446.400
99996    Shopping Pátio Paulista   -2.357.033.083.942.860
99997                       MASP   -2.356.090.840.539.960
99998         Metrô Trianon-Masp   -2.356.445.389.239.690
99999  Shopping Cidade São Paulo   -2.356.323.500.092.910

                     longitude tipo_celular        modelo_celular  \
0       -4.664.844.333.528.140       iPhone             iPhone SE
1       -4.665.888.408.315.560      Android  Xiaomi Redmi Note 11
2      -46.645.781.836.865.100      Android  Xiaomi Redmi Note 11
3       -4.666.130.627.469.660      Android          Motorola G60
4       -4.664.956.662.319.300       iPhone             iPhone 12
...                        ...          ...                   ...
99995  -46.655.832.697.282.600      Android            Realme C35
99996  -46.645.412.342.653.000      Android           Samsung S21
99997   -4.665.531.284.751.260       iPhone             iPhone SE
99998   -4.665.663.294.436.430       iPhone         iPhone 14 Pro
99999   -4.665.240.912.152.810       iPhone             iPhone SE

      possui_app_picmoney data_ultima_compra ultimo_tipo_cupom  \
0                     Sim         22/06/2025          Cashback
1                     Não                NaN               NaN
2                     Não                NaN               NaN
3                     Sim         15/07/2025          Desconto
4                     Sim         03/07/2025          Cashback
...                   ...                ...               ...
99995                 Não                NaN               NaN
99996                 Sim         14/07/2025           Produto
99997                 Sim         12/07/2025           Produto
99998                 Não                NaN               NaN
99999                 Sim         08/07/2025           Produto

       ultimo_valor_capturado                  ultimo_tipo_loja  idade  \
0                      215.39  Supermercados e Mercados Express     70
1                         NaN                               NaN     63
2                         NaN                               NaN     50
3                       42.18                            outros     69
4                      244.34        Restaurantes e Gastronomia     67
...                       ...                               ...    ...
99995                     NaN                               NaN     40
99996                  223.47                            outros     28
99997                   60.38       Lojas de Móveis e Decoração     27
99998                     NaN                               NaN     47
99999                  292.16       Lojas de Móveis e Decoração     17

            sexo  latitude_limpa  longitude_limpa   dia_semana
0       Feminino      -23.567430       -46.648443  Terça-feira
1      Masculino      -23.558687       -46.658884  Terça-feira
2          Outro      -23.570847       -46.645782  Terça-feira
3      Masculino      -23.556171       -46.661306  Terça-feira
4      Masculino      -23.562546       -46.649567  Terça-feira
...          ...             ...              ...          ...
99995   Feminino      -23.561654       -46.655833  Terça-feira
99996      Outro      -23.570331       -46.645412  Terça-feira
99997  Masculino      -23.560908       -46.655313  Terça-feira
99998   Feminino      -23.564454       -46.656633  Terça-feira
99999   Feminino      -23.563235       -46.652409  Terça-feira

[100000 rows x 18 columns]

In [25]:
dfBasePedestres['periodo'] = dfBasePedestres['horario'].apply(definir_periodo)

dfBasePedestres.head(10)

,celular,data,horario,local,latitude,longitude,tipo_celular,modelo_celular,possui_app_picmoney,data_ultima_compra,ultimo_tipo_cupom,ultimo_valor_capturado,ultimo_tipo_loja,idade,sexo,latitude_limpa,longitude_limpa,dia_semana,periodo
0,(11) 98549-4373,2025-07-22,1900-01-01 07:30:00,Ponto de Ônibus Pamplona,-23.567.430.342.750.400,-4.664.844.333.528.140,iPhone,iPhone SE,Sim,22/06/2025,Cashback,215.39,Supermercados e Mercados Express,70,Feminino,-23.567430,-46.648443,Terça-feira,manhã
1,(11) 91137-2716,2025-07-22,1900-01-01 12:45:00,Ponto de Ônibus Augusta,-23.558.687.303.969.100,-4.665.888.408.315.560,Android,Xiaomi Redmi Note 11,Não,NaN,NaN,NaN,NaN,63,Masculino,-23.558687,-46.658884,Terça-feira,tarde
2,(11) 99552-6219,2025-07-22,1900-01-01 06:30:00,Shopping Pátio Paulista,-23.570.847.016.535.100,-46.645.781.836.865.100,Android,Xiaomi Redmi Note 11,Não,NaN,NaN,NaN,NaN,50,Outro,-23.570847,-46.645782,Terça-feira,manhã
3,(11) 94777-4030,2025-07-22,1900-01-01 19:00:00,Metrô Consolação,-2.355.617.081.756.250,-4.666.130.627.469.660,Android,Motorola G60,Sim,15/07/2025,Desconto,42.18,outros,69,Masculino,-23.556171,-46.661306,Terça-feira,noite
4,(21) 91994-3239,2025-07-22,1900-01-01 13:00:00,Esquina Rua da Paz,-2.356.254.630.989.870,-4.664.956.662.319.300,iPhone,iPhone 12,Sim,03/07/2025,Cashback,244.34,Restaurantes e Gastronomia,67,Masculino,-23.562546,-46.649567,Terça-feira,tarde
5,(11) 91644-9175,2025-07-22,1900-01-01 17:45:00,Shopping Pátio Paulista,-23.570.388.410.014.600,-4.664.556.138.035.730,Android,Realme C35,Não,NaN,NaN,NaN,NaN,43,Outro,-23.570388,-46.645561,Terça-feira,tarde
6,(11) 94559-2684,2025-07-22,1900-01-01 12:15:00,MASP,-23.561.531.245.538.800,-4.665.609.027.000.710,iPhone,iPhone 11,Sim,18/07/2025,Produto,255.58,Clubes e Centros de Convivência,52,Feminino,-23.561531,-46.656090,Terça-feira,tarde
7,(11) 91185-9749,2025-07-22,1900-01-01 08:00:00,Shopping Cidade São Paulo,-2.356.305.240.568.520,-46.652.317.302.801.800,Android,Samsung S21,Sim,06/07/2025,Desconto,24.55,Farmácias e Drogarias,54,Outro,-23.563052,-46.652317,Terça-feira,manhã
8,(11) 93681-8897,2025-07-22,1900-01-01 10:30:00,Metrô Trianon-Masp,-23.564.332.854.063.000,-466.569.733.716.833,iPhone,iPhone SE,Sim,05/07/2025,Produto,242.05,Clubes e Centros de Convivência,68,Masculino,-23.564333,-46.656973,Terça-feira,manhã
9,(11) 98616-9774,2025-07-22,1900-01-01 16:45:00,Esquina Av. Consolação,-2.355.769.174.074.580,-46.659.635.806.554.900,iPhone,iPhone 13,Sim,07/07/2025,Desconto,76.18,Lojas de Eletrodomésticos e Utilidades Domésticas,59,Feminino,-23.557692,-46.659636,Terça-feira,tarde

# Base Cadastral Players

**Selecionar os dados**

In [26]:
#Verificando a quantidade de fileiras sem nenhum dado nas colunas cidade_trabalho, bairro_trabalho, cidade_escola, bairro_escola
colunas = ['cidade_trabalho','bairro_trabalho','cidade_escola','bairro_escola']
colunasVazias = dfBaseCadastral[colunas].isna().all(axis=1)
len(colunasVazias)

10000

**Limpeza dos dados**

In [27]:
#Remove duplicatas da base cadastral
dfBaseCadastral = dfBaseCadastral.drop_duplicates(subset='celular', keep='first')

# Integrar dados

In [28]:
dfMerge = pd.merge(dfBaseCadastral,dfBasePedestres,left_on="celular",right_on="celular",how="inner")

In [29]:
#Faz a mudança de não para sim na tabela de pedestres para os players que estão cadastrados
for index, row in dfMerge.iterrows():
    if row['possui_app_picmoney'] == 'Não':
        dfBasePedestres.loc[dfBasePedestres['celular'] == row['celular'], 'possui_app_picmoney'] = 'Sim'

#Codigo para adicionar pedestres que utilizaram o app da picmoney a base de cadastro
# Cria uma nova lista para armazenar os dados
new_rows = []

for index, row in dfBasePedestres.iterrows():
    exists = dfBaseCadastral['celular'] == row['celular']

    if row['possui_app_picmoney'] == 'Sim' and not exists.any():
        # Prepara a nova fila
        new_row = {
            'celular': row['celular'],
            'idade': row['idade'],
            'sexo': row['sexo'],
            'categoria_frequentada': row['ultimo_tipo_loja']
        }
        # Adiciona a lista
        new_rows.append(new_row)

if new_rows:
    dfBaseCadastral = pd.concat([dfBaseCadastral, pd.DataFrame(new_rows)], ignore_index=True)

In [30]:
#Juntando as tabelas Base Cadastral e Base de transações - Cupons Capturados
dfMerge2 = pd.merge(dfBaseCadastral,dfCupons,left_on="celular",right_on="celular",how="inner")
len(dfMerge2)
#Todos os celulares presentes na tabela de Cupons Capturados estão presentes na base cadastral

100000

In [31]:
len(dfBaseCadastral)

69948

In [32]:
#Juntando as tabelas Base Cadastral e Massa de Teste
dfMerge3 = pd.merge(dfBaseCadastral,dfMassaTeste,left_on="celular",right_on="numero_celular",how="inner")
#Codigo para adicionar pedestres que utilizaram o app da picmoney a base de cadastro
# Cria uma nova lista para armazenar os dados
new_rows = []

for index, row in dfMassaTeste.iterrows():
    # Check if the celular exists in dfBaseCadastral
    exists = dfBaseCadastral['celular'] == row['numero_celular']

    if not exists.any():
        # Prepara a nova fila
        new_row = {
            'celular': row['numero_celular'],
            'categoria_frequentada': row['tipo_loja']
        }
        # Adiciona a lista
        new_rows.append(new_row)

if new_rows:
    dfBaseCadastral = pd.concat([dfBaseCadastral, pd.DataFrame(new_rows)], ignore_index=True)

len(dfBaseCadastral)

79931